<div>
    <div class="chat-box" id="opa-block"  *ngIf="this.state=='inactive'" (click)="toggleChatBot(true)">
    <div class="bot-logo-container" >
      <img src="../../assets/images/chat-icon-banking.svg" />
    </div>
    </div>
    <div class="bot-position" [@enterAnimation]="state" >
      <div class="header" *ngIf="state=='active'">
          <img class="logo-chat" src="../../assets/images/chat-window-logo-banking.svg" />
        <!-- <span class="title">Mortgage Concierge</span> -->
        <span class="chatbotIcons">
          <span class="minimize" (click)="minimizeChatBot(false)">
            <img  src="../../assets/images/minimise-icon-default.png">
          </span>
          <span class="close" (click)="toggleChatBot(false)">
            <img  src="../../assets/images/close-icon-default.png">
          </span>
      </span>
      </div>
      <div class="chatbot px-3 py-4" *ngIf="state=='active'">
        <div class="chatbot__conversation" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  
          <div *ngFor="let chat of chatConversation; let i = index">
            <div class="chatbot__chat {{chat.from}}">
              <!-- <img class="avatar" src="../../assets/images/{{chat.from}}.png">             -->
              <div  class="text" [innerHTML]="chat.message | safeHtml"></div>
  
                <div id="yesNoButtons" *ngIf="(
               (chat.slotToElicit =='YesNoOne'  && (chat.intentName =='LoanMortgage' || chat.intentName =='LMAccount')) ||
               (chat.slotToElicit =='YesNoTwo' && (chat.intentName =='LoanMortgage' || chat.intentName =='LMAccount'))||
               (chat.slotToElicit =='YesNoThree' && (chat.intentName =='LoanMortgage'))
               || chat.slotToElicit =='YesNoFour' || chat.slotToElicit =='YesNoFive' || chat.slotToElicit =='YesNoSix')">

                <button class="btn btn-primary" *ngFor="let buttons of button" (click)="buttonClick(buttons.text)">
                  {{buttons.text}}</button>
                </div>
                <div id="test" *ngIf="chat.intentName=='defaultIntent'">
                  <button class="btn btn-primary" *ngFor="let buttons of welcomebutton" (click)="buttonClick1(buttons)">
                    {{buttons.text}}</button>
                  </div> 
                  <div *ngIf="(chat.intentName == 'LoanMortgage' && chat.slotToElicit =='Options')" class="wheelOption">
                    
                    <div *ngFor="let radioValue of radio" class="radioBorder" >
                 <input type="radio" name="{{radioValue.text}}"  (click)="radioClick(radioValue.text)" >{{radioValue.text}}
                     </div>
                  </div>
                  <div *ngIf="chat.slotToElicit ==='SocNum'" id="dateCalender">
                    <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" (dateTimeChange)="changeFuncDate($event)" placeholder="Date"  >
                      <owl-date-time [pickerType]="'calendar'" #dt1 ></owl-date-time>
                    </div>      
                  
                  <div *ngIf="chat.slotToElicit ==='FreeTextOne'" id="dateCalender">
                    <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" (dateTimeChange)="changeFunc($event)" placeholder="Date"  >
                      <owl-date-time [pickerType]="'calendar'" #dt1 ></owl-date-time>
                    </div>           
          
            </div>
          </div>
        </div>
        <div class="chatbot__input">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="message" placeholder="Type your message" (keyDown.enter)="sendMessage(undefined, $event)" (keyDown.ArrowUp)="getMessageHistory('up')"
              (keyDown.ArrowDown)="getMessageHistory('down')" >
  
            <a class="send"  (click)="sendMessage()">
                <img  src="../../assets/images/send-icon-DF.png">
            </a>
            <a class="caret-up pointer" (click)="getMessageHistory('up')" *ngIf="isCaretUp">
                <img  src="../../assets/images/showtext-icon-DF.png">
            </a>
            <a class="caret-down pointer" (click)="getMessageHistory('down')" *ngIf="isCaretDown">
                <img  src="../../assets/images/showtext-icon-DF.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  